<br>

# Introdução

In [4]:
from normas import diretriz_vigilancia
from open_geodata import ibge

ModuleNotFoundError: No module named 'diretriz_vigilancia'

<br>

## Definição da População

Foram obtidos dados sobre a estimativa da população no município por meio do [*site* do IGBE](https://sidra.ibge.gov.br/pesquisa/estimapop/tabelas), editados e corrigidos conforme repositŕio que criei no [GitHub](https://github.com/michelmetran/data_population). A partir dessa informação foi possível calcular o número de amostras mensais, bem como o número de amostras anuais que deveria ser realizada pela vigilância sanitária municipal.

**Observação**: os anos de 2007 e 2010 não aparecem nas estimativas populacionais divulgadas pelo IBGE, visto que nestes anos foram realizados censos populacionais. Como tais datas estão bastante distantes da atualidade, não se dispenderá esforços, nesse momento, para obtê-los e compor a série histórica.

In [2]:
cod_ibge = '3526902' # Limeira
df = ibge.get_estimated_population(cod_ibge)
df

    id_municipio municipio_nome  n_habitantes   ano
0        3526902   Limeira (SP)        253649  2001
1        3526902   Limeira (SP)        257731  2002
2        3526902   Limeira (SP)        261761  2003
3        3526902   Limeira (SP)        270223  2004
4        3526902   Limeira (SP)        274906  2005
5        3526902   Limeira (SP)        279554  2006
6        3526902   Limeira (SP)        278776  2008
7        3526902   Limeira (SP)        281583  2009
8        3526902   Limeira (SP)        278093  2011
9        3526902   Limeira (SP)        280096  2012
10       3526902   Limeira (SP)        291748  2013
11       3526902   Limeira (SP)        294128  2014
12       3526902   Limeira (SP)        296440  2015
13       3526902   Limeira (SP)        298701  2016
14       3526902   Limeira (SP)        300911  2017
15       3526902   Limeira (SP)        303682  2018
16       3526902   Limeira (SP)        306114  2019
17       3526902   Limeira (SP)        308482  2020
18       3526902   Limeira (SP)        310783  2021

In [3]:
# Cálculos
df['n_amostras_mensais_cloro'] = df['n_habitantes'].apply(lambda x: numero_amostras_cloro(x))
df['n_amostras_anuais_cloro'] = df['n_amostras_mensais_cloro']*12

# dtypes
df['n_amostras_mensais_cloro'] = df['n_amostras_mensais_cloro'].astype(int)
df['n_amostras_anuais_cloro'] = df['n_amostras_anuais_cloro'].astype(int)

# Results
df.head()

NameError: name 'numero_amostras_cloro' is not defined

In [4]:
# Cálculos
df['n_amostras_mensais_fluoreto'] = df['n_habitantes'].apply(lambda x: numero_amostras_fluoreto(x))
df['n_amostras_anuais_fluoreto'] = df['n_amostras_mensais_fluoreto']*12

# dtypes
df['n_amostras_mensais_fluoreto'] = df['n_amostras_mensais_fluoreto'].astype(int)
df['n_amostras_anuais_fluoreto'] = df['n_amostras_anuais_fluoreto'].astype(int)

# Results
df.head()

,id_municipio,municipio_nome,n_habitantes,ano,n_amostras_mensais_cloro,n_amostras_anuais_cloro,n_amostras_mensais_fluoreto,n_amostras_anuais_fluoreto
0,3526902,Limeira (SP),253649,2001,32,384,13,156
1,3526902,Limeira (SP),257731,2002,32,384,13,156
2,3526902,Limeira (SP),261761,2003,33,396,13,156
3,3526902,Limeira (SP),270223,2004,33,396,13,156
4,3526902,Limeira (SP),274906,2005,33,396,13,156